# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# VSCode
# -----------------------------
.vscode/

# -----------------------------
# Data (ignore ALL data files)
# -----------------------------
data/raw/*
data/interim/*
data/processed/*

# keep folder structure but not files
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# ignore heavy data formats
*.mat
*.npz
*.csv
*.npy

# -----------------------------
# OS junk
# -----------------------------
.DS_Store
Thumbs.db