# Python cache

**pycache**/
*.pyc

# Jupyter

.ipynb_checkpoints/

# VSCode

.vscode/

# Data (DO NOT upload raw EMG data)

data/raw/*
data/interim/*
data/processed/*

# Allow folder but not files

!data/raw/.gitkeep

# OS files

.DS_Store
Thumbs.db
